.containerWrapper{
  max-width: 1200px;
  margin: 140px auto 0;
  text-align: center;
}
.containerWrapper:last-child{
  margin-bottom: 100px;
}
.containerWrapper h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 50px;
  letter-spacing: 2.5px
}