.priceTable{
  display: flex;
  justify-content: space-around;
}
.priceTableInner{
  max-width: 45%;
  border: 1px solid;
  border-radius: 3px;
}
.priceTableInner h1{
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid;
  margin: 0;
  padding: 10px;
}
.priceTableInsideContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.priceTableInsideContainer div{
  padding: 20px 50px;
  width: 50%;
  height: 100%;
}
.priceTableInsideContainer div h2 {
  font-weight: bold;
}
.priceTableInsideContainer div:first-child{
  border-right: 1px solid;
}