.introTextContainerText p{
    max-width: 700px;
    margin: 0 auto;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

.introTextContainerTextButton{
  display: block;
  margin: 0 auto;
  background: none;
  border: 1px solid #f1c448;
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.2s ease;
  color: #f1c448;
  letter-spacing: 0.5px;
}
.introTextContainerTextButton:hover{
  transform: scale(1.03);
}